// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Home row mods macro
#define HRML(k1,k2,k3) &ht LGUI  k1  &ht LALT k2  &ht LCTRL k3
#define HRMR(k1,k2,k3) &ht RCTRL k1  &ht RALT k2  &ht RGUI  k3

// Bluetooth Profile Selection shortcut
#define BTSL(X)      &bt BT_SEL X

// Windows Quit
#define WQUIT        &kp LALT(F4)

// Layer Mnemonics
#define DEF   0   // Default
#define SYM   1   // Symbols
#define NAV   2   // Navigation + Media
#define CFG   3   // Misc/Settings

// Key positions (For combo keys etc)
//  ╭────┬────┬────┬────┬────╮   ╭────┬────┬────┬────┬────╮
//  │  0 │  1 │  2 │  3 │  4 │   │  5 │  6 │  7 │  8 │  9 │
//  ├────┼────┼────┼────┼────┤   ├────┼────┼────┼────┼────┤
//  │ 10 │ 11 │ 12 │ 13 │ 14 │   │ 15 │ 16 │ 17 │ 18 │ 19 │
//  ├────┼────┼────┼────┼────┤   ├────┼────┼────┼────┼────┤
//  │ 20 │ 21 │ 22 │ 23 │ 24 │   │ 25 │ 26 │ 27 │ 28 │ 29 │
//  ╰────┴────┼────┼────┼────┤   ├────┼────┼────┼────┴────╯
//            │ 30 │ 31 │ 32 │   │ 33 │ 34 │ 35 │
//            ╰────┴────┴────╯   ╰────┴────┴────╯

/ {
    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <SYM NAV>;
            then-layer = <CFG>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  E       │  R       │  T       │   │  Y       │  U       │  I       │  O       │  P       │
            &kp Q      &kp W      &kp E      &kp R      &kp T          &kp Y      &kp U      &kp I      &kp O      &kp P
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  S       │  D       │  F       │  G       │   │  H       │  J       │  K       │  L       │ ; :      │
            &kp A     HRML(S,         D,         F)     &kp G          &kp H      HRMR(J,        K,         L)     &kp SEMI
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  V       │  B       │   │  N       │  M       │ , <      │ . >      │ / ?      │
            &kp Z      &kp X      &kp C      &kp V      &kp B          &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH
        //╰──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────╯
                                  &mo NAV    &kp LSHIFT &kp TAB        &kp RET    &kp SPACE  &mo SYM
        //                      ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };

        // SYM
        symbol_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  !       │  @       │  #       │  $       │  %       │   │  ^       │  7       │  8       │  9       │  0       │
            &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT      &kp CARET  &kp N7     &kp N8     &kp N9     &kp N0
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  ESC     │  =       │  (       │  )       │   \ |    │   │  *       │  4       │  5       │  6       │  ' "     │
            &kp ESC    &kp EQUAL  &kp LPAR   &kp RPAR   &kp BSLH       &kp STAR   &kp N4     &kp N5     &kp N6     &kp SQT
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  `       │  - _     │  [ {     │  ] }     │          │   │  &       │  1       │  2       │  3       │  +       │
            &kp GRAVE  &kp MINUS  &kp LBKT   &kp RBKT   &none          &kp AMPS   &kp N1     &kp N2     &kp N3     &kp PLUS
        //╰──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────╯
                                  &trans     &trans     &trans         &trans     &trans     &trans
        //                      ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };

        // NAV and Media
        navig_layer {
            bindings = <
        //╭──────────┬────────────┬──────────┬──────────┬──────────╮   ╭──────────┬───────────┬──────────┬──────────┬──────────╮
        //│          │  Vol+      │  Ins     │  PgUp    │  Home    │   │          │ Bright+   │ Bright-  │          │  BKSPACE │
            &none      &kp C_VOL_UP  &kp INS   &kp PG_UP  &kp HOME       &none      &kp C_BRI_UP &kp C_BRI_DN &none   &kp BSPC
        //├──────────┼────────────┼──────────┼──────────┼──────────┤   ├──────────┼───────────┼──────────┼──────────┼──────────┤
        //│          │  Vol-      │  Del     │  PgDn    │  End     │   │  LEFT    │  DOWN     │  UP      │  RIGHT   │          │
            &none      &kp C_VOL_DN &kp DEL    &kp PG_DN  &kp END        &kp LEFT   &kp DOWN    &kp UP     &kp RIGHT  &none     
        //├──────────┼────────────┼──────────┼──────────┼──────────┤   ├──────────┼───────────┼──────────┼──────────┼──────────┤
        //│          │            │          │          │          │   │          │           │          │          │          │
            &none      &none        &none      &none      WQUIT          &none      &none       &none      &none      &none     
        //╰──────────┴────────────┼──────────┼──────────┼──────────┤   ├──────────┼───────────┼──────────┼──────────┴──────────╯
                                    &trans     &trans     &trans         &trans     &trans      &trans
        //                        ╰──────────┴──────────┴──────────╯   ╰──────────┴───────────┴──────────╯
            >;
        };

        // CFG layer
        config_layer {
            bindings = <
        //╭──────────┬────────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │            │          │          │          │   │          │          │          │          │          │
            &bootloader &none        &none      &none      &none          &none      &none      &none      &none      &bootloader
        //├──────────┼────────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │            │          │          │          │   │          │          │          │          │          │
            &reset     &none        &none      &none      &none          &none      BTSL(3)    BTSL(4)    &bt BT_CLR &reset
        //├──────────┼────────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │            │          │          │          │   │          │          │          │          │          │
            &none      &none        &none      &none      &none          &none      BTSL(0)     BTSL(1)   BTSL(2)
        //╰──────────┴────────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────╯
                                    &trans     &trans     &trans         &trans     &trans     &trans
        //                        ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };
    };
};
