# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_HAROLD_LEFT
	def_bool $(shields_list_contains,harold_left)

config SHIELD_HAROLD_RIGHT
	def_bool $(shields_list_contains,harold_right)
